@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "STHeitiTC";
    src: url("../fonts/STHeitiSCLight.ttf") format('opentype');
}
@font-face {
    font-family: "HelveticaNeue";
    src: url("../fonts/helveticaneue-light.otf") format('opentype');
}
html,
body {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    font-family: STHeitiTC;
    background: #F4F9FF 100%;
}

.clear-10 {
    height: 10px;
}
.nav-header {
    position: fixed;
    width: 100%;
    height: 70px;
    background: #2D3C53 100%;
    top: 0;
}

.clear-header {
    height: 70px;
}

.hide {
    display: none;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
}

.row .col-10 {
    width: 10%;
}
.row .col-16 {
    width: 16%;
}
.row .col-20 {
    width: 20%;
}

.row .col-25 {
    width: 25%;
}

.row .col-30 {
    width: 30%;
}

.row .col-40 {
    width: 40%;
}

.row .col-50 {
    width: 50%;
}

.row .col-60 {
    width: 60%;
}

.row .col-70 {
    width: 70%;
}

.row .col-100 {
    width: 100%;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .btn:focus,
  .btn.focus,
  .btn:active:focus,
  .btn:active.focus,
  .btn.active:focus,
  .btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  
  .btn:hover,
  .btn:focus,
  .btn.focus {
    color: #333;
    text-decoration: none;
  }
  
  .btn:active,
  .btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
  
  .btn.disabled,
  .btn[disabled],
  fieldset[disabled] .btn {
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  a.btn.disabled,
  fieldset[disabled] a.btn {
    pointer-events: none;
  }
  
  .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
  }
  
  .btn-default:focus,
  .btn-default.focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
  }
  
  .btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
  }
  
  .btn-default:active,
  .btn-default.active,
  .open>.btn-default.dropdown-toggle {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
  }
  
  .btn-default:active:hover,
  .btn-default:active:focus,
  .btn-default:active.focus,
  .btn-default.active:hover,
  .btn-default.active:focus,
  .btn-default.active.focus,
  .open>.btn-default.dropdown-toggle:hover,
  .open>.btn-default.dropdown-toggle:focus,
  .open>.btn-default.dropdown-toggle.focus {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
  }
  
  .btn-default:active,
  .btn-default.active,
  .open>.btn-default.dropdown-toggle {
    background-image: none;
  }
  
  .btn-default.disabled:hover,
  .btn-default.disabled:focus,
  .btn-default.disabled.focus,
  .btn-default[disabled]:hover,
  .btn-default[disabled]:focus,
  .btn-default[disabled].focus,
  fieldset[disabled] .btn-default:hover,
  fieldset[disabled] .btn-default:focus,
  fieldset[disabled] .btn-default.focus {
    background-color: #fff;
    border-color: #ccc;
  }
  .btn-default .badge {
    color: #fff;
    background-color: #333;
  }