@charset "UTF-8";
.main-container {
    width: 100%;
    height: 100%;
}

.no-result {
    width: 100%;
    height: 100%;
}

.no-result table {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.no-result table p {
    color: #6E819B;
}

.main-content {
    margin: 0 40px;
    height: 100%;
}

.main-content #btn_back {
    height: 30px;
    width: 76px;
    font-family: STHeitiTC;
    padding: 0;
}

.main-content #btn_back i {
    margin-right: 3px;
}

.main-content .main-tool-bar .update-time {
    text-align: right;
    color: #6E819B;
}

.main-content .main-tool-bar .update-time p {
    line-height: 33px;
    font-size: 14px;
}

.main-content #update_time {
    font-family: HelveticaNeue;
}

.custom-info {
    margin-top: 20px;
    height: 150px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.20);
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.20);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.custom-info .content {
    margin: 0 20px;
    padding-top: 20px;
}

.custom-info #custom_name {
    font-size: 26px;
    color: #3A506D;
    line-height: 39px;
    font-weight: 600;
}

.custom-info #btn_send_sms {
    float: right;
    height: 39px;
    font-size: 14px;
    color: #ffffff;
    background-color: #00A5FF;
    font-family: STHeitiTC;
}

.font-size-14 {
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
}

.font-size-16 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.font-size-18 {
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
}

.bold {
    font-weight: 600;
}

.p-name {
    color: #3A506D;
}

.p-value {
    color: #1E2A38;
}

.p-mark {
    color: #6E819B;
    font-size: 14px;
    line-height: 21px;
}

.p-right {
    text-align: right;
    margin-right: 50%;
}

.text-number {
    font-family: HelveticaNeue;
}

.blue {
    color: #33A5FD;
}

.tool-bar i {
    color: #F98321;
    font-size: 24px;
    position: relative;
    top: 20%;
}

div[id^='model_container_'] i {
    line-height: 36px;
    color: #B4BBCF;
    float: right;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 24px;
    position: relative;
    top: 20%;
}

.scroll-content {
    overflow: hidden;
}

.profit-red {
    color: #FD4261;
}

.profit-green {
    color: #52AD4E;
}

.font-orange {
    color: #FF841B;
}


/* ----- Tab页 start ----- */

.my-tab {
    width: 100%;
    margin-top: 17px;
}

.tab-wrapper {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #F4F9FF;
}

.tab-wrapper .tab-radio {
    display: none;
}

.tab-handler {
    position: relative;
    z-index: 2;
    display: block;
    float: left;
    height: 50px;
    width: 114px;
    text-align: center;
    line-height: 50px;
    color: #6E819B;
    background-color: #F4F9FF;
    cursor: pointer;
    margin-right: 3px;
    font-weight: 600;
}

.tab-radio:checked+.tab-handler {
    color: #2794E8;
    background-color: #FFFFFF;
    cursor: default;
    -webkit-box-shadow: -2px 0 rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05), 2px 0 rgba(0, 0, 0, 0.05), 0 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -2px 0 rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05), 2px 0 rgba(0, 0, 0, 0.05), 0 0px rgba(0, 0, 0, 0.5);
    box-shadow: -2px 0 rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05), 2px 0 rgba(0, 0, 0, 0.05), 0 0px rgba(0, 0, 0, 0.5);
    z-index: 4;
}

.tab-radio:checked+.tab-handler+.tab-content {
    visibility: visible;
    opacity: 1;
    -webkit-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
    z-index: 3;
}

.tab-wrapper .tab-content {
    visibility: hidden;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    opacity: 0;
    height: -webkit-calc(100vh - 370px);
    height: -moz-calc(100vh - 370px);
    height: calc(100vh - 370px);
}


/* ----- Tab页 end ----- */


/* ----- Tab1 业务关系 start ----- */

.sub-title {
    color: #2794E8;
    margin-top: 20px;
    margin-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    font-weight: 600;
}

.sub-title .dot {
    height: 8px;
    width: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #2794E8;
    vertical-align: middle;
    line-height: 27px;
    margin-right: 5px;
    margin-top: 8px;
}

.sub-content {
    margin-top: 20px;
    margin-left: 33px;
    margin-bottom: 20px;
}

.auto-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#tab1_c1 {
    background: #FFFFFF;
    border: 1px solid #C6CFD6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 20px;
}

#tab1_c1 .sub-content .p-name {
    margin-bottom: 10px;
}

#tab1_c2 {
    background: #FFFFFF;
    border: 1px solid #C6CFD6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

#tab1_c2 .sub-content .p-value {
    margin-bottom: 10px;
}

#tab1_c2 .p-value span {
    margin-left: 20px;
}

#tab1_c3 {
    /* height: -webkit-calc(100% - 42px);
    height: -moz-calc(100% - 42px);
    height: calc(100% - 42px); */
    height: auto;
    background: #FFFFFF;
    border: 1px solid #C6CFD6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 20px;
}

#tab1_c3 .p-name {
    margin-bottom: 10px;
}

#tab1_c3 .p-name i {
    color: #F64060;
}


/* ----- Tab1 业务关系 end ----- */


/* ----- Tab2 资金费率 start ----- */

#tab2_c1 {
    background: #FFFFFF;
    border: 1px solid #C6CFD6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 20px;
    height: 226px;
}

#tab2_c1 .sub-content .p-value {
    margin-bottom: 10px;
}

#tab2_c2 {
    background: #FFFFFF;
    border: 1px solid #C6CFD6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top: 20px;
    margin-right: 20px;
    height: 226px;
}

#tab2_c2 .sub-content .p-right {
    margin-right: 20px;
}

#tab2_c2 .sub-content .p-value {
    margin-bottom: 10px;
}

#tab2_c3 {
    background: #FFFFFF;
    border: 1px solid #C6CFD6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-left: 20px;
    margin-right: 20px;
    height: 208px;
}

#tab2_c3 .sub-content .p-right {
    margin-right: 80px;
}

#tab2_c3 .sub-content .p-value {
    margin-bottom: 10px;
}


/* ----- Tab2 资金费率 end ----- */


/* ----- Tab3 备注 end ----- */

#tab3_c1 {
    margin-top: 20px;
    margin-left: 20px;
}

#tab3_c1 .search {
    background: #FFFFFF;
    border: 1px solid #B3BBCF;
    border-radius: 4px;
    height: 30px;
    width: 232px;
}

#tab3_c1 .search input {
    text-indent: 10px;
    height: 27px;
    width: 200px;
    font-size: 12px;
    border: 0px;
    outline: 0!important;
    box-shadow: none!important;
    color: #3A506D;
    font-family: inherit;
}

#tab3_c1 .search i {
    font-size: 20px;
    line-height: 30px;
    color: #B3BBCF;
    float: right;
    margin-right: 3px;
}

#date_start {
    height: 30px;
    width: 124px;
    float: right;
    margin-right: 20px;
}

#date_start input {
    font-size: 12px;
}

#date_end {
    height: 30px;
    width: 124px;
    float: right;
}

#date_end input {
    font-size: 12px;
}

#tab3_c1_content {
    height: 463px;
    background: #FFFFFF;
    border: 1px solid #C6CFD6;
    border-radius: 4px;
}

#tab3_c1_content .record-1 {
    margin-top: 0;
}

.remark-record {
    margin-top: 20px;
}

.remark-record .remark-author {
    width: 70px;
    margin-left: 10px;
    text-align: right;
    float: left;
}

.remark-record .remark-content {
    overflow: hidden;
}

#tab3_c2 {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 20px;
}

#tab3_c2 p {
    height: 30px;
    line-height: 30px;
}

#tab3_c2 .tool-bar p {
    font-size: 12px;
    line-height: 18px;
    color: #808C9D;
    text-align: right;
}

div[id^='model_container_'] div[class^='model-'] {
    font-size: 14px;
    line-height: 36px;
    background: #FFFFFF;
    color: #FE7500;
    border: 1px solid #FFC89A;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 0px 10px;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    cursor: pointer;
    margin-top: 20px;
    font-weight: 600;
    height: 36px;
}

#model_container_remark .model-remark {
    width: 100%;
}

.model-remark:hover .hover-show {
    display: block;
    width: calc(45% - 115px);
    z-index: 8;
}

#textarea_remark_content {
    width: calc(100% - 20px);
    height: 100px;
}

#btn_send_remark {
    /* width:76px; */
    height: 30px;
    margin-top: 20px;
    background: #00A5FF;
    border-radius: 4px;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}


/* ----- Tab3 备注 end ----- */


/* ----- Tab4 盈亏 start ----- */

#tab4_c1 {
    height: 365px;
    background: #FFFFFF;
    border: 1px solid #C6CFD6;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 20px;
}

#tab4_c1 .my-tab {
    margin-top: 0;
    border-radius: 4px;
    background-color: transparent;
}

.tab-wrapper-4 {
    position: relative;
    width: 100%;
    height: 44px;
    border-bottom: 1px solid #C6CFD6;
}

.tab-wrapper-4 .tab-radio-4 {
    display: none;
}

.tab-handler-4 {
    position: relative;
    z-index: 2;
    display: block;
    float: left;
    height: 44px;
    width: 88px;
    text-align: center;
    line-height: 44px;
    color: #6E819B;
    background-color: transparent;
    cursor: pointer;
    margin-right: 3px;
    font-weight: 600;
}

.tab-radio-4:checked+.tab-handler-4 {
    color: #2794E8;
    background-color: transparent;
    cursor: default;
    box-sizing: border-box;
    border-bottom: 3px solid #2794E8;
    z-index: 4;
}

.tab-radio-4:checked+.tab-handler-4+.tab-content-4 {
    visibility: visible;
    opacity: 1;
    z-index: 3;
}

.tab-wrapper-4 .tab-content-4 {
    visibility: hidden;
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    background-color: transparent;
    opacity: 0;
    height: 320px;
}

#tab4_c1 {
    height: 365px;
    background: #FFFFFF;
    border: 1px solid #C6CFD6;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 20px;
}

#tab4_c1 .my-tab {
    margin-top: 0;
    border-radius: 4px;
    background-color: transparent;
}

#tab4_c1 .tab-wrapper {
    height: 44px;
    border-bottom: 1px solid #C6CFD6;
    background-color: transparent;
}

#tab4_c1 .tab-handler {
    height: 44px;
    width: 88px;
    line-height: 44px;
    background-color: transparent;
}

#tab4_c1 .tab-radio:checked+.tab-handler {
    box-sizing: border-box;
    border-bottom: 3px solid #2794E8;
    box-shadow: none;
    z-index: 4;
}

#tab4_c1 .tab-radio:checked+.tab-handler+.tab-content {
    box-shadow: none;
}

#tab4_c1 .tab-wrapper .tab-content {
    top: 45px;
    height: 320px;
    background-color: transparent;
}

#line_chart_tab411,
#line_chart_tab412,
#line_chart_tab511,
#line_chart_tab512 {
    height: calc(100% - 31px);
    width: calc(100% - 10px);
    margin-top: 10px;
    margin-left: 10px;
}

.container-tab-button {
    position: absolute;
    margin-top: -37px;
    margin-right: 20px;
    right: 0;
}

.container-tab-button input {
    display: none;
}

.container-tab-button label {
    width: 54px;
    height: 20px;
    font-size: 12px;
    color: #6E819B;
    line-height: 18px;
    background: #FFFFFF;
    border: 1px solid #B3BBCF;
    border-radius: 4px;
    padding: 3px 14px;
    margin-left: 5px;
    cursor: pointer;
}

.container-tab-button .tab-radio:checked+label {
    color: #FFFFFF;
    background: #B3BBCF;
    border-radius: 4px;
    cursor: default;
}

.chart-container {
    width: 100%;
    height: calc(100% - 20px);
}

.chart-container .chart-title-line {
    margin: 20px 20px 0 20px;
}

.chart-container .chart-title-line p {
    height: 21px;
}

.chart-container .chart-legend {
    float: right;
    display: flex;
}

.chart-container .chart-legend .line-block-orange {
    height: 4px;
    width: 15px;
    background-color: #FF841B;
    margin-top: 8px;
}

.chart-container .chart-legend .line-block-blue {
    height: 4px;
    width: 15px;
    background-color: #00A5FF;
    margin-top: 8px;
    margin-left: 20px;
}

.chart-container .chart-legend span {
    font-size: 12px;
    line-height: 21px;
    color: #1E2A38;
    font-weight: 600;
    margin-left: 10px;
}

#tab4_c2 {
    height: 100px;
    background: #FFFFFF;
    border: 1px solid #C6CFD6;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 20px;
}

#tab4_c2 .sub-content {
    margin: 20px 10px;
}

#tab4_c2 .p-right {
    margin-right: 20%;
}

#tab4_c2 .p-value {
    margin-bottom: 10px;
}

#tab4_c3 {
    /* height: 600px; */
    background: #FFFFFF;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#tab4_c3 .my-tab {
    margin-top: 0;
    border-radius: 4px;
    background-color: transparent;
}

#tab4_c3 .tab-wrapper {
    border-top: 1px solid #C6CFD6;
    border-left: 1px solid #C6CFD6;
    border-right: 1px solid #C6CFD6;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 44px;
    border-bottom: 1px solid #C6CFD6;
    background-color: transparent;
}

#tab4_c3 .tab-handler {
    height: 44px;
    width: 88px;
    line-height: 44px;
    background-color: transparent;
}

#tab4_c3 .tab-radio:checked+.tab-handler {
    box-sizing: border-box;
    border-bottom: 3px solid #2794E8;
    box-shadow: none;
    z-index: 4;
}

#tab4_c3 .tab-radio:checked+.tab-handler+.tab-content {
    box-shadow: none;
}

#tab4_c3 .tab-wrapper .tab-content {
    top: 45px;
    height: 500px;
    background-color: transparent;
}

#tab4_c3 .profit-overview {
    width: 100%;
    height: 95px;
    border-bottom: 1px solid #C6CFD6;
    border-left: 1px solid #C6CFD6;
    border-right: 1px solid #C6CFD6;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: -1px;
}

#tab4_c3 .profit-overview .p-value {
    text-align: center;
    font-size: 22px;
    line-height: 33px;
    color: #FF841B;
    font-weight: 600;
    margin-top: 20px;
}

#tab4_c3 .profit-overview .p-name {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.table-head {
    color: #3A506D;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 5px;
}

.table-content {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #1E2A38;
}

.table-content .table-cell p:first-child {
    margin-top: 10px;
}

.table-cell p:nth-child(2) {
    margin-bottom: 10px;
}

.table-cell .stock-code {
    margin-top: -3px;
    vertical-align: middle;
    color: #6E819B;
    font-family: HelveticaNeue;
    font-weight: 500;
}

.table-cell .stock-code img {
    vertical-align: middle
}

.table-cell .stock-code span {
    font-size: 12px;
    line-height: 18px;
}

.table-cell:first-child {
    text-align: left;
}

.table-nodata {
    color: #6E819B;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin-top: 40px;
}

#tab_421_title,
#tab_422_title,
#tab_423_title {
    margin-top: 20px;
    margin-bottom: 12px;
}

.table-content {
    height: 350px;
}

#tab_421_table .table-row .table-cell:first-child {
    width: 15%;
}

#tab_421_table .table-row .table-cell:nth-child(2) {
    width: 10%;
}

#tab_421_table .table-row .table-cell:nth-child(3) {
    width: 10%;
}

#tab_421_table .table-row .table-cell:nth-child(4) {
    width: 15%;
}

#tab_421_table .table-row .table-cell:nth-child(5) {
    width: 20%;
}

#tab_421_table .table-row .table-cell:nth-child(6) {
    width: 15%;
}

#tab_421_table .table-row .table-cell:nth-child(7) {
    width: 15%;
}

#tab_422_table .table-row .table-cell:first-child {
    width: 15%;
}

#tab_422_table .table-row .table-cell:nth-child(2) {
    width: 10%;
}

#tab_422_table .table-row .table-cell:nth-child(3) {
    width: 10%;
}

#tab_422_table .table-row .table-cell:nth-child(4) {
    width: 20%;
}

#tab_422_table .table-row .table-cell:nth-child(5) {
    width: 15%;
}

#tab_422_table .table-row .table-cell:nth-child(6) {
    width: 15%;
}

#tab_422_table .table-row .table-cell:nth-child(7) {
    width: 15%;
}

#tab_423_table .table-row .table-cell:first-child {
    width: 20%;
}

#tab_423_table .table-row .table-cell:nth-child(2) {
    width: 20%;
}

#tab_423_table .table-row .table-cell:nth-child(3) {
    width: 30%;
}

#tab_423_table .table-row .table-cell:nth-child(4) {
    width: 30%;
}


/* ----- Tab4 盈亏 end ----- */


/* ----- Tab5 建议方案 start ----- */

#tab5_c1 {
    height: 365px;
    background: #FFFFFF;
    border: 1px solid #C6CFD6;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 20px;
}

#tab5_c1 .my-tab {
    margin-top: 0;
    border-radius: 4px;
    background-color: transparent;
}

#tab5_c1 .tab-wrapper {
    height: 44px;
    border-bottom: 1px solid #C6CFD6;
    background-color: transparent;
}

#tab5_c1 .tab-handler {
    height: 44px;
    width: 88px;
    line-height: 44px;
    background-color: transparent;
}

#tab5_c1 .tab-radio:checked+.tab-handler {
    box-sizing: border-box;
    border-bottom: 3px solid #2794E8;
    box-shadow: none;
    z-index: 4;
}

#tab5_c1 .tab-radio:checked+.tab-handler+.tab-content {
    box-shadow: none;
}

#tab5_c1 .tab-wrapper .tab-content {
    top: 45px;
    height: 320px;
    background-color: transparent;
}

#tab5_c2 {
    text-align: center;
}

#tab5_c2>textarea {
    margin-left: 20px;
    margin-top: 17px;
    width: calc(100% - 42px);
    height: 80px;
}

#tab5_c2>button {
    margin-top: 10px;
    background-color: #00A5FF;
    color: #FFFFFF;
    font-size: 14px;
}

#tab5_c3 {
    height: 600px;
    margin: 20px;
}

#tab5_c3_title {
    margin-top: 5px;
    margin-bottom: 20px;
}

#tab5_c3_title button {
    background-color: #00A5FF;
    color: #FFFFFF;
    font-size: 14px;
    float: right;
    margin-top: -5px;
    width: 68px;
}

.table-row {
    border-bottom: 1px solid #C6CFD6;
    text-align: right;
}

#tab5_table .table-row .table-cell:first-child {
    width: 20%;
}

#tab5_table .table-row .table-cell:nth-child(2) {
    width: 15%;
}

#tab5_table .table-row .table-cell:nth-child(3) {
    width: 10%;
}

#tab5_table .table-row .table-cell:nth-child(4) {
    width: 15%;
}

#tab5_table .table-row .table-cell:nth-child(5) {
    width: 10%;
}

#tab5_table .table-row .table-cell:nth-child(6) {
    width: 20%;
}

#tab5_table .table-row .table-cell:nth-child(7) {
    width: 10%;
}

#tab5_table .table-row .table-cell:nth-child(7) .btn-clear-position {
    width: 28px;
    color: #00A5FF;
    cursor: pointer;
    font-size: 14px;
    line-height: 24px;
    float: right;
}

#tab5_table_content {
    height: 500px;
}


/* ----- Tab5 建议方案 end ----- */


/* ----- Tab6 客户标签 start ----- */

#tab6 img {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    margin-top: 26px;
}

#tab6_c1 {
    background: #FFFFFF;
    border: 1px solid #C6CFD6;
    border-radius: 4px;
    height: 514px;
    margin: 20px;
}

#model_container_label_system {
    margin: 0 20px;
}

#model_container_label_system .model-label {
    background: #D2EDFF;
    border-radius: 4px;
    border: none;
    color: #345A8D;
}

#model_container_label_system .label-info .hover-show {
    margin-left: calc(-33% + 115px);
    width: calc(calc(100% - 300px) * 0.33);
    z-index: 8;
}

#model_container_label_system .label-info:hover .hover-show {
    display: block;
}

#model_container_label_system .label-info .hover-show .triangle {
    margin-left: calc(100% - 35px);
}

#tab6_c2 {
    background: #FFFFFF;
    border: 1px solid #C6CFD6;
    border-radius: 4px;
    height: 514px;
    margin: 20px 0;
}

#tab6_c2_nodata {
    margin: 20px;
    color: #808C9D;
}

#model_container_label_custom {
    margin: 0 20px;
}

#model_container_label_custom .model-label {
    background: #FFEAD9;
    border-radius: 4px;
    border: none;
}

#model_container_label_custom .label-info .hover-show {
    margin-left: calc(-33% + 110px);
    width: calc(calc(100% - 180px) * 0.33);
    z-index: 8;
}

#model_container_label_custom .label-info:hover .hover-show {
    display: block;
}

#model_container_label_custom .label-info .hover-show .triangle {
    margin-left: calc(100% - 68px);
}

#tab6_c3 {
    background: #FFFFFF;
    width: calc(100% - 10px);
    height: 514px;
    margin-top: 20px;
}

#tab6_c3 .model-label {
    margin-left: 20px;
}

#tab6_c3 p {
    height: 30px;
    line-height: 30px;
}

#tab6_c3 .tool-bar p {
    font-size: 12px;
    line-height: 18px;
    color: #808C9D;
    text-align: right;
    margin-top: 15px;
}

#tab6_c3 .label-info .hover-show {
    /* margin-left: -300px;
    width: 350px; */
    margin-left: calc(-33% + 98px);
    width: calc(calc(100% - 140px) * 0.33);
    z-index: 8;
}

#tab6_c3 .label-info:hover .hover-show {
    display: block;
}

#tab6_c3 .label-info .hover-show .triangle {
    margin-left: calc(100% - 70px);
}


/* ----- Tab6 客户标签 end ----- */


/* ----- 弹出层 start ----- */

#mask1 {
    display: none;
    background: rgba(0, 0, 0, 0.60);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
}

#mask2 {
    display: none;
    background: rgba(0, 0, 0, 0.60);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 7;
}

div[id^="modal_"] {
    display: none;
    background: #FFFFFF;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

div[id^="modal_"] .p-header {
    text-align: center;
    color: #3A506D;
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
}

div[id^="modal_"] button {
    color: #FFFFFF;
    background-color: #96989B;
    font-size: 14px;
    line-height: 14px;
    width: 68px;
    height: 30px;
}

div[id^="modal_"] .modal-alert-info {
    text-align: center;
    color: #3A506D;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
}

div[id^="modal_"] .btn-confirm {
    background-color: #34AEFD;
}

textarea+.input-footer {
    position: relative;
    font-size: 14px;
    color: #3A506D;
    line-height: 21px;
    top: -40px;
    float: right;
    right: 20px;
    height: 0;
}

#modal_send_sms {
    width: 700px;
    height: 835px;
    margin-left: -350px;
    margin-top: -420px;
    z-index: 6;
}

#modal_send_sms .content {
    width: 620px;
    height: 795px;
    margin: 20px 40px;
}

#modal_send_sms .p-header {
    margin-bottom: 22px;
}

#sms_record {
    width: 620px;
    height: 265px;
    border: 1px solid #C6CFD6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.record-1 {
    margin: 10px 20px;
}

.record-1 p {
    color: #6E819B;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
}

.record-1 div {
    display: inline-block;
    color: #1E2A38;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    background-color: #DBF1FF;
    border-radius: 0px 8px 8px 8px;
    padding: 10px 20px;
}

.record-2 {
    margin: 10px 20px;
}

.record-2 p {
    color: #6E819B;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    text-align: right;
}

.record-2 div {
    display: inline-block;
    color: #1E2A38;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    background-color: #DBF1FF;
    border-radius: 8px 0px 8px 8px;
    padding: 10px 20px;
}

#textarea_sms_content {
    width: 600px;
    height: 100px;
}

.modal-tool-bar {
    margin-top: 10px;
}

.modal-tool-bar p {
    font-size: 12px;
    color: #808C9D;
    line-height: 18x;
    height: 30px;
    float: right;
}

#model_container_sms .model-sms {
    width: 566px;
}

.hover-show {
    position: absolute;
    height: auto;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 21px;
    white-space: normal;
    background: #5F5F5F;
    margin-top: 10px;
    margin-left: -10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 10px;
    display: none;
}

.model-sms:hover .hover-show {
    display: block;
    width: 566px;
}

.triangle {
    width: 0;
    height: 0;
    border-width: 0 10px 10px;
    border-style: solid;
    border-color: transparent transparent #5F5F5F;
    margin-left: 20px;
    margin-top: -18px;
    position: absolute;
}

#modal_create_sms_model,
#modal_create_remark_model {
    width: 570px;
    height: 315px;
    margin-left: -285px;
    margin-top: -160px;
    z-index: 8;
}

#modal_create_sms_model .content,
#modal_create_remark_model .content {
    width: 510px;
    height: 275px;
    margin: 20px 30px;
}

#textarea_sms_model,
#textarea_remark_model {
    width: 490px;
    height: 158px;
}

#modal_create_label_model {
    width: 600px;
    height: 367px;
    margin-left: -300px;
    margin-top: -184px;
    z-index: 8;
}

#modal_create_label_model .content {
    width: 520px;
    height: 327px;
    margin: 20px 40px;
}

#modal_create_label_model .title-line {
    margin-top: 20px;
}

#modal_create_label_model .title-line p {
    margin-top: 5px;
}

#textarea_label_model_title {
    width: 420px;
    height: 50px;
    margin-top: 0;
}

#modal_create_label_model .detail-line {
    margin-top: 15px;
}

#modal_create_label_model .detail-line p {
    margin-top: 5px;
}

#textarea_label_model_detail {
    width: 420px;
    height: 120px;
    margin-top: 0;
}

#modal_open_position {
    width: 400px;
    height: auto;
    margin-left: -200px;
    margin-top: -128px;
    z-index: 8;
}

#modal_open_position .content {
    width: 360px;
    height: auto;
    margin: 20px;
}

#modal_open_position .content p:nth-child(3),
#modal_open_position .content p:nth-child(4),
#modal_open_position .content p:nth-child(5) {
    margin-left: 15px;
    margin-top: 20px;
}

#modal_open_position .content p:nth-child(5) input {
    background: #FFFFFF;
    border: 1px solid #B3BBCF;
    border-radius: 4px;
    width: 260px;
    height: 30px;
}

#modal_alert1,
#modal_alert2 {
    width: 470px;
    height: 180px;
    z-index: 8;
    margin-left: -235px;
    margin-top: -90px;
}

#modal_alert1 .content,
#modal_alert2 .content {
    margin: 20px 30px;
}


/* ----- 弹出层 end ----- */