@charset "UTF-8";
.main-container {
    width: 100%;
    height: 100%;
}

.no-result {
    width: 100%;
    height: 100%;
}

.no-result table {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.no-result table p {
    color: #6E819B;
}

.main-content {
    margin: 0 40px;
    height: 100%;
}

.main-content #btn_back {
    height: 30px;
    width: 76px;
    font-family: STHeitiTC;
    padding: 0;
}

.main-content #btn_back i {
    margin-right: 3px;
}

.main-content .tool-bar .update-time {
    text-align: right;
    color: #6E819B;
}

.main-content .tool-bar .update-time p {
    line-height: 33px;
    font-size: 14px;
}

.main-content #update_time {
    font-family: HelveticaNeue;
}

.custom-info {
    margin-top: 20px;
    height: 150px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.20);
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.20);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.custom-info .content {
    margin: 0 20px;
    padding-top: 20px;
}

.custom-info #custom_name {
    font-size: 26px;
    color: #3A506D;
    line-height: 39px;
    font-weight: 600;
}

.custom-info #btn_send_sms {
    float: right;
    height: 39px;
    font-size: 14px;
    color: #ffffff;
    background-color: #00A5FF;
    font-family: STHeitiTC;
}

.font-size-16 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.font-size-18 {
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
}

.bold {
    font-weight: 600;
}

.p-name {
    color: #3A506D;
}

.p-value {
    color: #1E2A38;
}

.p-right {
    text-align: right;
    margin-right: 50%;
}

.text-number {
    font-family: HelveticaNeue;
}

.blue {
    color: #33A5FD;
}


/* ----- Tab页 start ----- */

.my-tab {
    width: 100%;
    margin-top: 17px;
}

.tab-wrapper {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #F4F9FF;
}

.tab-wrapper .tab-radio {
    display: none;
}

.tab-handler {
    position: relative;
    z-index: 2;
    display: block;
    float: left;
    height: 50px;
    width: 114px;
    text-align: center;
    line-height: 50px;
    color: #6E819B;
    background-color: #F4F9FF;
    cursor: pointer;
    margin-right: 3px;
    font-weight: 600;
}

.tab-radio:checked+.tab-handler {
    color: #2794E8;
    background-color: #FFFFFF;
    cursor: default;
    -webkit-box-shadow: -2px 0 rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05), 2px 0 rgba(0, 0, 0, 0.05), 0 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -2px 0 rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05), 2px 0 rgba(0, 0, 0, 0.05), 0 0px rgba(0, 0, 0, 0.5);
    box-shadow: -2px 0 rgba(0, 0, 0, 0.05), 0 -2px rgba(0, 0, 0, 0.05), 2px 0 rgba(0, 0, 0, 0.05), 0 0px rgba(0, 0, 0, 0.5);
    z-index: 4;
}

.tab-radio:checked+.tab-handler+.tab-content {
    visibility: visible;
    opacity: 1;
    -webkit-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
    z-index: 3;
}

.tab-wrapper .tab-content {
    visibility: hidden;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    opacity: 0;
    height: -webkit-calc(100vh - 370px);
    height: -moz-calc(100vh - 370px);
    height: calc(100vh - 370px);
}

.scroll-content {
    overflow: hidden;
}


/* ----- Tab页 end ----- */


/* ----- Tab1 业务关系 start ----- */

.sub-title {
    color: #2794E8;
    margin-top: 20px;
    margin-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    font-weight: 600;
}

.sub-title .dot {
    height: 8px;
    width: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #2794E8;
    vertical-align: middle;
    line-height: 27px;
    margin-right: 5px;
    margin-top: 8px;
}

.sub-content {
    margin-top: 20px;
    margin-left: 33px;
    margin-bottom: 20px;
}

.auto-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#tab1-c1 {
    background: #FFFFFF;
    border: 1px solid #C6CFD6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 20px;
}

#tab1-c2 {
    background: #FFFFFF;
    border: 1px solid #C6CFD6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

#tab1-c2 .sub-content .p-value {
    margin-bottom: 10px;
}

#tab1-c2 .p-value span {
    margin-left: 20px;
}

#tab1-c3 {
    height: -webkit-calc(100% - 42px);
    height: -moz-calc(100% - 42px);
    height: calc(100% - 42px);
    background: #FFFFFF;
    border: 1px solid #C6CFD6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 20px;
}

#tab1-c3 .p-name {
    margin-bottom: 10px;
}

#tab1-c3 .p-name i {
    color: #F64060;
}


/* ----- Tab1 业务关系 end ----- */


/* ----- 弹出层 start ----- */

#mask1 {
    display: none;
    background: rgba(0, 0, 0, 0.60);
    ;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
}
#mask2 {
    display: none;
    background: rgba(0, 0, 0, 0.60);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 7;
}
div[id^="modal_"] .p-header {
    text-align: center;
    color: #3A506D;
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
}
div[id^="modal_"] button {
    color: #FFFFFF;
    background-color: #96989B;
    font-size: 14px;
    width: 68px;
    height: 30px;
}
textarea+.input-footer {
    position: relative;
    font-size: 14px;
    color: #3A506D;
    line-height: 21px;
    top: -40px;
    float: right;
    right: 20px;
    height: 0;
}
#modal_send_sms {
    display: none;
    background: #FFFFFF;
    width: 700px;
    height: 835px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -350px;
    margin-top: -420px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index: 6;
}

#modal_send_sms .content {
    width: 620px;
    height: 795px;
    margin: 20px 40px;
}

#modal_send_sms .sms-record {
    width: 620px;
    height: 265px;
    border: 1px solid #C6CFD6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top: 22px;
}

textarea {
    border: 1px solid #C6CFD6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top: 20px;
    line-height: 24px;
    padding: 10px;
    color: #3A506D;
    font-family: STHeitiTC;
}

textarea::-webkit-input-placeholder {
    color: #B3BBCF;
}

textarea:-moz-placeholder {
    color: #B3BBCF;
}

textarea::-moz-placeholder {
    color: #B3BBCF;
}

textarea:-ms-input-placeholder {
    color: #B3BBCF;
}

#textarea_sms_content {
    width: 600px;
    height: 100px;
}

.modal-tool-bar {
    margin-top: 10px;
}

.modal-tool-bar p {
    font-size: 12px;
    color: #808C9D;
    line-height: 18x;
    height: 30px;
    float: right;
}

#modal_send_sms i {
    color: #F98321;
    font-size: 24px;
    position: relative;
    top: 20%;
    margin-left: 10px;
}

#modal_send_sms .model-sms {
    width: 566px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    background: #FFFFFF;
    color: #FE7500;
    border: 1px solid #FFC89A;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 0px 10px;
    margin-top: 20px;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    cursor: pointer;
}

.hover-show {
    position: absolute;
    width: 566px;
    height: auto;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 21px;
    white-space: normal;
    background: #5F5F5F;
    margin-top: 10px;
    margin-left: -10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 10px;
    display: none;
}

.model-sms:hover .hover-show {
    display: block;
}

.triangle {
    width: 0;
    height: 0;
    border-width: 0 10px 10px;
    border-style: solid;
    border-color: transparent transparent #5F5F5F;
    margin-left: 20px;
    margin-top: -18px;
    position: absolute;
}

#modal_send_sms .icon-close {
    margin-top: 26px;
}

#modal_create_sms_model {
    display: none;
    background: #FFFFFF;
    width: 570px;
    height: 315px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -285px;
    margin-top: -160px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index: 8;
}

#modal_create_sms_model .content {
    width: 510px;
    height: 275px;
    margin: 20px 30px;
}

#textarea_sms_model {
    width: 490px;
    height: 158px;
}
/* ----- 弹出层 end ----- */